<div class="toolbar" role="banner">
  <img width="40" alt="Angular Logo" src="../assets/news-icon.png" />
  <span>News Room</span>

</div>

<div class="content" role="main">

  <div class="login-form-container">
    <!-- <div class="card"> -->
    <h3>Login to get Access to your personalized news</h3>
    <!-- </div> -->
    <div class="card">
      <input type="email" name="emailId" id="email-id" placeholder="Enter valid email" />

    </div>
    <div class="card">
      <input type="text" name="password" id="password" placeholder="Enter a password" />
    </div>
    <div class="card">
      <button>Login Now</button>
    </div>

  </div>
</div>
<footer>
  &nbsp;<span>Love Keeping track of news!&nbsp;Follow us on #newsApp</span>
  <span>Copyright © 2022</span>
</footer>

<router-outlet></router-outlet>