.boards-container{
    margin-bottom: 0;
    margin-top: 16px;
    padding: 16px 0;
    width: 100vw;
    position: absolute;
    top: 4vh;
    left: 0;
}
.boards{
    align-items: stretch;
    overflow-y: hidden;
    position: relative;
    /* background-color: var(--main-bg-color); */
    height: 19vh;
}
.board-list {
     display: flex;
     flex-direction: row;
     list-style: none;
}
.board-item{
    width: 80px;
    margin: 10px;
    text-align: center;
    line-height: 61px;
    font-size: 19px;
    height: 60px;
    border: 2px solid var(--sub-bg-color);
    border-radius: 5px;
    background-color: var(--sub-bg-color);
    color: var(--sub-font-color);
    cursor: pointer;
}
.board-item:hover {
    box-shadow: 0 4px 17px rgb(84 14 14 / 35%);
}
.board-item-content{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 122px;
    padding: 0 4px;
    position: relative;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    top: 2px;
    width: 66px;
}

.news-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 8vh;
    flex-direction: column;
    box-shadow: 0 4px 17px rgb(84 14 14 / 35%);
    background-color: var(--main-bg-color);
    color: var(--main-font-color);
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    contain: content;
    cursor: pointer;
    min-width: 40vw;
}

.error-block {
    color: red;
}