.boards-container {
    margin-bottom: 0;
    width: 100vw;
}

.boards {
    align-items: stretch;
    overflow: hidden;
    position: relative;
    height: auto;
}

.board-list {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.board-item {
    width: 80px;
    margin: 10px;
    text-align: center;
    line-height: 36px;
    font-size: 19px;
    height: 32px;
    border: 2px solid var(--sub-bg-color);
    border-radius: 18px;
    cursor: pointer;
}

ul.board-list>li:last-child,
li:first-child {
    width: 110px;
    height: 37px;
}

ul.board-list>li:first-child {
    background: none;
    color: var(--sub-bg-color);
    border: none;
}

ul.board-list>li:last-child {
    background: var(--sub-bg-color);
}

.active {
    background: var(--sub-bg-color);
    color: var(--sub-font-color);
}

.inactive {
    background-color: var(--sub-font-color);
    color: var(--main-font-color);
}


.board-item:hover {
    box-shadow: 0 4px 17px rgba(14, 15, 84, 0.35);
}

.board-item-content {
    box-sizing: border-box;
    padding: 0 4px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;

}

.news-summary {
    display: flex;
    flex-direction: column;
    margin: 0vh 3vh 1vh 3vh;
    overflow-y: auto;
}

.news-container {
    margin-top: 2vh;
    box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
    background: #FFFFFF;
    color: var(--main-font-color);
    padding: 10px;
    contain: content;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    height: 26vh;
}

.news-details {
    padding: 2px 16px;
    overflow-y: auto;
    margin-top: 13px;
}

.news-meta-details {
    font-size: smaller;
    margin-top: 15px;
}

.error-block {
    color: red;
}

select {
    padding: 5px;
    /* outline-style: none; */
    border: none;
    background: #05396B;
    color: var(--sub-font-color);
    font-size: 14px;
}

select:focus-visible {
    outline: none !important;
}

.create-news-button input {
    width: 6vh;
    height: 6vh;
    bottom: 57vh;
    position: fixed;
    bottom: 58px;
    right: 0;
    background: none;
}

.action-btns-container {
    position: absolute;
    right: 43px;
    top: 6px;
    z-index: 3;
    padding: 2px;
    display: flex;
    justify-content: space-between;
    width: 94px;
}

.news-container img {
    width: 43%;
    height: 26vh;
}

.action-btns {
    font-size: 24px;
    margin: 0px 5px;
}

.alignCenter {
    margin: auto;
}

/** Small Devices **/
@media screen and (max-width: 575px) and (min-width: 300px) {

    .board-list {
        flex-wrap: wrap;
        padding: 0px;
    }

    .board-item {
        font-size: 15px;
        width: auto !important;
        padding: 3px;
    }

    .news-container h4 {
        font-size: smaller;
    }

    .news-container p {
        font-size: small;
    }

    .action-btns {
        font-size: 18px;
        margin: 0px 6px;
    }
}